@font-face {
  font-family: "Garet";
  src: url("./assets/fonts/Garet-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Garet";
  src: url("./assets/fonts/Garet-Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-ink-900 antialiased;
}
